<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet"  href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.1.0/js/bootstrap.bundle.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>

    <div layout:fragment="content" class="backgroundColor container mt-4 d-flex justify-content-center">
        <h3>Home</h3>
    </div>


</body>
</html>